*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto";
}
header{
  padding: 5% 10% 0 10%;
}
h1{
  font-family: "Rokkitt";
}
hr{
  width: 5%;
  margin-bottom: 2%;
}
p{
  margin-bottom: 1%;
  line-height: 24px;
}
select{
  width: 20%;
  margin-bottom: 2%;
  background: #CCCC;
}
.play-juego{
  position: relative;
  height: 350px;
  width: 80%;
  margin-left: 10%;
}

.coder , .datos {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 50%;
}

.datos{
  left: 50%;
  background: #333333;
  text-align: center;
}
label{
  color: #fff;
  margin-left: -60%;
}
button{
  width: 25%;
  height: 10%;
  background: #F9A91A;
  color: #fff;
  border: none;
}
input{
  width: 80%;
  height: 8%;
  padding: 0 4%;
  margin-bottom:  4% ;
  margin-top: 6%;
}
.imgCoder{
  height: 100%;
  width: 100%;
}
#error{
  margin-top: 4%;
  color: #fff;
  font-size: 20px;
}
